.ant-avatar{
    width: 62px;
    height: 58px;
}
.ant-list-item-meta-description{
    font-size: 13px;
}


@media only screen and (max-width: 600px) {
    .ant-table{
        font-size: 10px;
    }

}


@media only screen and (max-width: 776px) {
    .responsive_progressbar {
        padding-top: 3px;
        position: fixed;
        bottom: 10px;
        z-index: 1;
    }
    .responsive_progressbar .ant-progress-show-info .ant-progress-outer{
        padding-right: 0;
    }
    .responsive_progressbar span{
        display: none;
    }
    .recent{
        text-align: center;
    }
}